.clapperIcon {
  position: relative;
  top: -3px;
}

.creditsGrid {
  display: grid;
  grid-template-columns: fit-content(50%) 1fr;
  gap: 40px;
  align-items: start;
}

/* Show/hide cast lists based on screen size */
.castMobile {
  display: none;
}

.castDesktop {
  display: block;
}

@media (max-width: 768px) {
  .castMobile {
    display: block;
  }

  .castDesktop {
    display: none;
  }
}
