.creditsGrid {
  display: grid;
  grid-template-columns: fit-content(50%) 1fr;
  gap: 40px;
  align-items: start;
  text-align: left;
}

@media (max-width: 768px) {
  .creditsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
