.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.line {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-muted-gray);
  text-transform: uppercase;
  letter-spacing: 1px;
}
