.columns {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 44px;
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row;
    gap: 60px;
  }
}

.main {
  flex: 1;
  min-width: 0;
}

.sidebar {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar > * {
  margin-bottom: 0 !important;
}
