.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(var(--color-electric-blue-rgb), 0.2);
}

.more {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 8px;
  white-space: nowrap;
}
