.home {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 18px;
  left: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  .logo {
    width: 40px;
    height: 40px;
  }

  .spinning {
    animation: spin 2s linear infinite;
  }

  div {
    margin: 0;
    position: relative;
    color: var(--color-midnight-navy);
    font-size: 36px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .home {
    top: 19px;
    left: 16px;

    div {
      display: none;
    }
  }
}
