.heading {
  position: relative;
  color: var(--color-midnight-navy);
  display: inline-block;
  z-index: 0;
}

.overlap {
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px;
  user-select: none;
}

/* Color variants */
.pink {
  color: var(--color-neon-pink);
}

.blue {
  color: var(--color-electric-blue);
}
