name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  lint_and_test:
    name: Run linter and build
    runs-on: ubuntu-latest
    env:
      CI: true
      NODE_ENV: test

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "npm"
      - run: npm ci
      - name: Cache Next.js build
        uses: actions/cache@v4
        with:
          path: .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('src/**.[jt]s', 'src/**.[jt]sx', 'next.config.*') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
      # Lint the code
      - run: npm run lint
      # Download data
      - name: Download combined data
        uses: clusterflick/release-downloader@v2
        with:
          token: ${{ secrets.PAT || github.token }}
          repository: "clusterflick/data-combined"
          latest: true
          fileName: "*"
          out-file-path: "combined-data"
      - name: Download matched data
        uses: clusterflick/release-downloader@v2
        with:
          token: ${{ secrets.PAT || github.token }}
          repository: "clusterflick/data-matched"
          latest: true
          fileName: "*"
          out-file-path: "matched-data"
      - run: npm run process-combined-data
      # Storybook
      - run: npm run build-storybook
      - name: Publish to Chromatic
        if: github.actor != 'dependabot[bot]'
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: storybook-static
          onlyChanged: true
      # Build the static site
      - run: npm run build
